
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h5 {
    text-align: center;
    font-weight: bold;
}

.container {
    padding: 10px;
  }

.container-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-button {
    padding: 5px;
    text-align: center;
    color: ghostwhite;
}

#font-white {
    color: white;
}

.label{
    text-align: left;
}

button {
    border-radius: 8px;  
}


